<!DOCTYPE html>
<html ng-app="rockPaperScissors" class="ng-cloak">
<head>
    <title>A "Rock Paper Scissors" implementation with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- AngularJS resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<header class="header">
    <div class="container-fluid">
        <h1>
            Rock, Paper, Scissors
            <small class="row color-white">Built with Spring Boot, AngularJS and Bootstrap</small>
        </h1>
    </div>
</header>

<main>
    <div ng-controller="GameController as controller" ng-cloak>
        <div class="container-fluid">
            <div class="row">

                <aside class="sidebar">
                    <div class="col-xs-3">

                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Game mode</h2>
                            </div>
                            <div class="divider"></div>
                            <div class="col-xs-12">
                                <input type="radio" id="rock-paper-scissors" name="game-mode" value="0" ng-model="gameMode.id" checked><label for="rock-paper-scissors">Rock, Paper, Scissors</label>
                            </div>
                            <div class="col-xs-12">
                                <input type="radio" id="rock-paper-scissors-well" name="game-mode" value="1" ng-model="gameMode.id"><label for="rock-paper-scissors-well">Rock, Paper, Scissors, Well</label>
                            </div>
                        </div>

                    </div>
                </aside>

                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Choose a hand</h2>
                                    <div class="divider"></div>
                                </div>
                                <div class="col-xs-12">
                                    <a class="btn btn-primary" href="" ng-click="controller.play('rock')">Rock</a>
                                    <a class="btn btn-primary" href="" ng-click="controller.play('paper')">Paper</a>
                                    <a class="btn btn-primary" href="" ng-click="controller.play('scissors')">Scissors</a>
                                    <a class="btn btn-primary" href="" ng-click="controller.play('well')" ng-show="gameMode.id == 1">Well</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <div class="row">

                                <div class="col-xs-12">
                                    <h2>Result</h2>
                                    <div class="divider"></div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <h3>Round:</h3>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 ng-if="controller.round.count !== null"><strong>{{controller.round.count}}</strong></h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <h3>Player:</h3>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 ng-if="controller.round.moves['Player'] !== undefined"><strong>{{controller.round.moves['Player'] | uppercase}}</strong></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <h3>Computer:</h3>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 ng-if="controller.round.moves['Computer'] !== undefined"><strong>{{controller.round.moves['Computer'] | uppercase}}</strong></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 ng-if="controller.round.winner !== null && controller.round.winner.length > 0 && controller.round.message === ''"><strong>{{controller.round.winner | uppercase}} </strong> wins</h2>
                                    <h2 ng-if="controller.round.winner === '' && controller.round.message === ''">Round is a <strong>DRAW</strong></h2>
                                    <h2 style="color: red" ng-if="controller.round.message !== ''"><strong>There was an error: {{controller.round.message}}</strong></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>

<script src="js/app.js"></script>
<script src="js/service/game-service.js"></script>
<script src="js/controller/game-controller.js"></script>
</body>
</html>